<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="hibernate.cfg.xml">
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.datasource">java:comp/env/jdbc/catalogcontacs</property>

    <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="swow_sql">true</property>
    <property name="hbm2ddl.auto">update</property>


    <mapping class="catalogContacts.model.Contact"/>
    <mapping class="catalogContacts.model.ContactDetails"/>
    <mapping class="catalogContacts.model.Group"/>
    <mapping class="catalogContacts.model.User"/>

  </session-factory>
</hibernate-configuration>